{% extends "base.html" %} {% load thumbnail %} {% load staticfiles %} {% block content %}
<h1>Best feedback in real time</h1>
<hr />
<div id="tile_container">
    <ul class="tile">
        {% for object in object_list %}
        <li>
        <a href="{{ object.get_absolute_url }}">
            {% thumbnail object.upload "273" as im %}
            <img src="{{ im.url }}">{% endthumbnail %}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %} {% block script %}
<script type="text/javascript" src="{% static 'js/jquery.wookmark.min.js' %}"></script>
<script type="text/javascript">
$(function(){
    $('#tile_container ul li').wookmark({
        'container': $("#tile_container")
    });
});
</script>
{% endblock script %}
